@import '../../../sassStyles/variables';
@import '../../../sassStyles/animations';
@import '../../../sassStyles/mixins';

.winnerContainer {
    max-width: 830px;
    margin: 0 auto;
}

.winnerCrown {
    margin: 0 auto;
    width: 90px;
    height: 60px;
    position: relative;

    &__spoke1 {
        background-color: $primaryColor;
        position: absolute;
        height: 3px;
        width: 20px;
        opacity: 0;

        -webkit-animation: crown-bottom-left 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000)  both;
        animation: crown-bottom-left 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000)  both;
    }

    &__spoke2 {
        background-color: $primaryColor;
        height: 3px;
        width: 30px;
        position: absolute;
        transform-origin: bottom left;
        opacity: 0;

        -webkit-animation: crown-left 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000)  both;
        animation: crown-left 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000)  both;
    }

    &__spoke3 {
        background-color: $primaryColor;
        height: 3px;
        width: 43px;
        position: absolute;
        transform-origin: bottom center;
        opacity: 0;

        -webkit-animation: crown-center 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000)  both;
        animation: crown-center 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000)  both;
    }

    &__spoke4 {
        background-color: $primaryColor;
        height: 3px;
        width: 30px;
        position: absolute;
        opacity: 0;
        transform-origin: bottom right;

        -webkit-animation: crown-right 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000)  both;
        animation: crown-right 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000)  both;
    }

    &__spoke5 {
        background-color: $primaryColor;
        position: absolute;
        height: 3px;
        width: 20px;
        transform-origin: bottom left;
        opacity: 0;

        -webkit-animation: crown-bottom-right 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000)  both;
        animation: crown-bottom-right 0.7s cubic-bezier(0.165, 0.840, 0.440, 1.000)  both;
    }
}