@import '../../../sassStyles/variables';

.nominationBackground {
    background: $primaryDark1Color;
    height: 100%;
    width: 45%;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 5%;
}