@import '../../../sassStyles/variables';
@import '../../../sassStyles/animations';

.nominationCounter {
    font-size: 14px;
    color: $primaryLight1Color;
    font-weight: normal;

    span {
        font-weight: 200;
        font-size: 22px;
        transform: translateY(3px);
        margin-left: 2px;
        display: inline-block;
    }
}