@import '../../../sassStyles/variables';

.nom-row__wrapper {
    max-width: 800px;
    height: 110px;
    margin-bottom: 75px;
    display: grid;
    position: relative;
    grid-template-columns: 78px 94px 1fr;
    align-content: center;
    transform: translateX(-126px);
    border: 1px solid $primaryColor;
    box-sizing: border-box;
    opacity: 0;

    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    
    &--delay {

        -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) calc(0.25s * var(--delay)) both;
        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) calc(0.25s * var(--delay)) both;
    }


}

  
.nom-row__number {
    display: flex;
    justify-content: center;
    padding-left: 3px;
   
    p {
        font-style: normal;
        font-weight: 200;
        font-size: 45px;
        line-height: 54px;
        text-align: center;
        color: $primaryDarkColor;
        opacity: 0;
        -webkit-animation: fade-in-right 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) .35s both;
                animation: fade-in-right 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) .35s both;
    
    }
}

.nom-row__img {
    background-color: $primaryDark2Color;
    color: $primaryColor;
    width: 93px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    align-self: center;
    opacity: 0;

    -webkit-animation: puff-in-center 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) .1s both;
	        animation: puff-in-center 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) .1s both;
}

.nom-row__body-wrapper {
   padding: 20px 30px 20px 20px;
   display: grid;
   grid-template-columns: 1fr 35px;
   align-items: center;
   column-gap: 20px;
}

.nom-row__movie-details {
    color: $primaryLight1Color;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.npm-row__meta-info {
    display: grid;
    grid-template-columns: 30px 11px 1fr;
    row-gap: 5px;
    column-gap: 10px;
    margin-top: 5px;
    align-items: center;

    a {
        transition: ease-in-out 0.3s;
        -webkit-animation: jello-horizontal 0.9s 0.5s both;
	        animation: jello-horizontal 0.9s 0.5s both;
    }

    a:hover {
        opacity: .3;
        
    }

    p {
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        transform: translateX(-7px);
    }

    h4 {
        grid-column: 1 / -1;
        font-style: italic;
        opacity: 0.8;
    }
}

