.nom-row {
    max-width: 800px;
    height: 140px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 81px 94px 1fr;
    transform: translateX(-134px);

    
    .nom-row__number {
        background-color: rgb(250, 183, 171);
    }

    .nom-row__img {
        background-color: rgb(236, 126, 106);
    }
    .nom-row__body-wrapper {
        background-color: rgb(245, 78, 49);
    }
}