@import '../../../sassStyles/mixins';
@import '../../../sassStyles/variables';

header {
    margin: 20px auto 34px;
    max-width: $screen-full;

    @include xxlMinBreakPoint {
        margin: 40px 0 64px;
    }

   
}