@import '../../../sassStyles/mixins';
@import '../../../sassStyles/variables';

header {
    padding: 0 5%;
    margin: 20px auto 0;
    max-width: $screen-full;

    @include xxlMinBreakPoint {
        margin: 40px auto 0;
    }

   
}