@import '../../../sassStyles/mixins';

header {
    padding: 0 20px;
    margin: 20px auto 0;
    max-width: 1264px;

    @include xxlMinBreakPoint {
        margin: 40px auto 0;
        padding: 0;
    }

   
}