@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.nomConfirm {
    background-color: $secondaryLight4Color;
    text-align: center;
    padding: 35px;
    opacity: 0;

    -webkit-animation: fade-up 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) 1.2s both;
    animation: fade-up 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) 1.2s both;

    @include customMinBreakPoint(400) {
        padding: 65px;
    }

    h2 {
        color: $primaryDark1Color;
        margin: 0;
    }

    p {
        color: $textColor;
        margin: 15px auto 25px;
        max-width: 280px;
    }
}