@import '../../../sassStyles/mixins';
@import '../../../sassStyles/variables';

.bodyContainer {
    max-width: $screen-full;
    padding: 0 10%;
    position: relative;
    z-index: 4;
    
    @include mdMinBreakPoint {
        // margin: 0 auto;
    }

}