@import '../../../sassStyles/mixins';
@import '../../../sassStyles/variables';

.bodyContainer {
    max-width: $screen-full;
    margin: 34px auto 0;
    padding: 0 5%;
    
    @include mdMinBreakPoint {
        margin: 64px auto 0;
    }

}