@import '../../../sassStyles/mixins';
@import '../../../sassStyles/variables';
@import '../../../sassStyles/animations';


.search {
    position: relative;
    margin-top: 60px;
    width: 100%;
    display: block;
    z-index: 2;
    opacity: 0;
    -webkit-animation: fade-up 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) 1.2s both;
    animation: fade-up 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) 1.2s both;


    @include smMinBreakPoint {
        margin-top: 70px;
    }

    &__magnify-icon {
        height: 16px;
        width: 16px;
        position: absolute;
        top: 50%;
        right: auto;
        left: 18px;
        margin-top: -7px;
        fill: $textColor;
        transition: 0.2s ease-in;
    }

    span {
        opacity: 1;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: $textLight1Color;
        position: absolute;
        top: 50%;
        right: auto;
        left: 47px;
        margin-top: -12px;
    }

    

}

.search__input {
    padding: 18px 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border-style: solid;
    transition: 0.2s ease-in;

    &--tray-open {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-color: $primaryColor;
    }

    &--tray-open ~ .search__magnify-icon {
        fill: #c2c2c2;
    }

    &--tray-open + span {
        color: #c2c2c2;
    }

    &:focus {
        color: #000000;
        outline: 0;
        box-shadow: 0 0 0 1px $primaryColor;
    }

    &:focus ~ .search__magnify-icon {
        fill: $primaryDark1Color;
    }

    &:disabled ~ .search__magnify-icon {
        fill: $textLight1Color;
    }


}

.search__option-btn {
    position: absolute;
    top: 4px;
    right: 2px;
    left: auto;
    padding: 0;
    height: calc(100% - 8px);
    width: 35px;
    border: none;
    border-radius: 0 2px 2px 0;
    background: none;
    cursor: pointer;
    transition: 0.2s ease-in;


    &:hover,
    &:focus {
        background: $primaryLight2Color;
        outline: 0;
        border: none;
    }

    &:hover > svg,
    &:focus > svg {
        fill: $primaryColor;
    }

    &:disabled {
        background: none;
        cursor: default;
    }
    
    &:disabled > svg {
        fill: $textLight1Color;
    }
    

    svg {
        fill: $textColor;
        height: 16px;
        width: 16px;
        transition: 0.2s ease-in;
      
    }
}


.search__filter-tray {
    background: #eaeee4;
    padding: 14px 18px 12px;
    position: relative;
    display: flex;
    z-index: 1;
    border-radius: 4px 4px 0 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    margin-top: -20px;
    transform: translateY(-50px);

    &--active {
        visibility: visible;
        transform: translateY(-88px);
    }

    p {
        margin: 0 10px 0 0;
        color: $textColor;
    }

}


.search__btn-group {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.search__filter-btn {
    border: none;
    outline: 0;
    padding: 1px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover,
    &:focus,
    &--active {
        background: $primaryColor;
        color: white;
        outline: 0;
    }

    &--active {
        cursor: default;
    }

    &--default {
        background: none;
        color: $primaryColor;
        border: 1px solid $primaryColor;
        outline: 0;
    }

}
